@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';


body {
  height: 100vh !important;
  min-height: 100vh;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
#nprogress .bar {
  z-index: 10000 !important;
}